<div class="container mt-4">
  <h2>{{ rack.id ? 'Editar' : 'Novo' }} Rack</h2>
  <div class="card">
    <div class="card-body">
      <div class="mb-3">
        <label for="name" class="form-label">Nome</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="rack.name" name="name">
      </div>
      <div class="mb-3">
        <label for="uHeight" class="form-label">Altura (U)</label>
        <input type="number" class="form-control" id="uHeight" [(ngModel)]="rack.uHeight" name="uHeight">
      </div>
      <div class="mb-3">
        <label for="site" class="form-label">Site</label>
        <select class="form-select" id="site" [(ngModel)]="rack.site.id" name="site">
          <option [ngValue]="null">Selecione um Site</option>
          <option *ngFor="let item of sites" [value]="item.id">{{ item.name }}</option>
        </select>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-success me-2" (click)="salvar()">Salvar</button>
      <button class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
    </div>
  </div>
</div>